<h1>User profile page</h1>
<div class="main">
  <%= render 'tastes/left_bar' %>
  <div class="center-block">
    <%# render 'shared/header' %>
    <div class="center-wrap">
      <div class="taste-center">
        <div class="cover-image"> cover image
        </div>
        <div class="title-section">
          <div class="tastes-text">Tastes</div>
        </div>
        <div class="taste-form-wrap">

          <div class="form-title">TASTE ABOUT SOME BOOK</div>
          <%# form_for @taste, url: tastes_path do |f| %>
          <%# f.text_field :text, class: 'form-input', placeholder: "Compose new taste" %>

          <%# f.submit 'Taste it'%>
          <%# end %>
        </div>
        <ul class="taste-list">
          <div class="tastes-count">
            ALL TASTES
          </div>
          <%  @tastes.each do |t| %>
          <li class="single-taste">

            <div class="taste-img-wrap">
              <div class="taste-img">

              </div>
            </div>

            <div class="taste-name-text">
              <div class="taste-fullname">
                <%= link_to t.user.fullname, user_path(t.user.id) %>
              </div>
              <div class="taste-created-at">
                <%= time_ago_in_words(t.created_at) %>
              </div>
              <p><%= t.text %></p>
            </div>

          </li>
          <% end %>
        </ul>
      </div>

      <aside class="user-followings">
        <div class="profile-img-link">
          <div class="user-image">
            <%= image_tag  "" %><br>

          </div>

          <br><br>
        </div>
        <div class="user-fullname"><%= @user.fullname %></div>
        <div class="user-username">@<%= @user.username %></div>
        <div class="follow">
        <%# link_to "follow/unfollow ", class: 'follow-user' %>
          <% unless current_user == @user %>

              <%= link_to 'Follow', following_path(@user.id), method: :post, class: 'follow-user'%>



          <% end %>

        </div>
        <div class="user-profile-stats">
          <div>
            <p class="stat-num"><%= @user.tastes.count %></p>
            <p class="stat-text"><%= 'Taste'.pluralize(@user.tastes.count) %></p>
          </div>
          <div class="stat-center">
            <p class="stat-num"><%= @user.followeds.count %></p>
            <p class="stat-text">Following</p>
          </div>
          <div>
            <p class="stat-num"><%= @user.followers.count %></p>
            <p class="stat-text"><%= 'Follower'.pluralize(@user.followers.count) %></p class="stat-text">
          </div>
        </div>
        <div class="followed-by">
          <h2>Followed by</h2>
          here goes a list of users that follow this user (my followers)

          <%= @who.each do |user| %>
            <%= link_to user_path(user.id), class: 'user-follow-link' do %>
            <div class="user-follow">
              <div class="user-follow-img">
                <img alt="avatar image" class="avatar">
              </div>
              <div class="user-follow-text">
                <div class="user-follow-fullname"><%= user.fullname %></div>
                <div class="user-follow-username"><%= user.username %></div>
              </div>
              <% unless current_user == user %>
                <% if following?(user) %>
                  <%= link_to followings_path(user.id), method: :delete do %>
                    <div>unfollow</div>
                  <% end %>
                <% else %>
                  <% link_to following_path(user.id), method: :post do %>
                  <div>follow</div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <% end %>
          <% end %>
      </aside>
    </div>
 
  </div>

</div>