
<div class="main">
  <%= render 'tastes/left_bar' %>
  <div class="center-block">
    <%= render 'shared/header' %>
    <div class="center-wrap">
      <div class="taste-center">
        <div class="profile-cover-image">
        <% if @user.coverimage.attached? %>
          <image src=<%= (url_for(@user.coverimage)) %>>
        <% else %>
          <%= @user.coverimage.attach(io: File.open('app/assets/images/placeholder-cover.png'),
          filename: 'placeholder-cover.png', content_type: 'image/png') %>
        <% end %>
        </div>
        <div class="title-section">
          <div class="tastes-text">Tastes</div>
        </div>
        <div class="taste-form-wrap">

          <h6 class="form-title">TASTE ABOUT SOME BOOK</h6>

          <% form_for @taste, url: tastes_path do |f| %>
          <% f.text_field :text, class: 'form-input', placeholder: "Compose new taste" %>

          <% f.submit 'Taste it'%>
          <% end %>
        </div>
        <ul class="taste-list">
          <div class="tastes-count">
            <%= @user.fullname.upcase %>'s TASTES
          </div>
          <% unless @tastes.empty?%>
            <%  @tastes.each do |t| %>
              <li class="single-taste">
                <div class="taste-img-wrap">
                  <div class="taste-image">
                      <% if t.user.photo.attached? %>
                        <%= image_tag t.user.photo %>
                      <% else %>
                        <%= t.user.photo.attach(io: File.open('app/assets/images/placeholder-photo.png'),
                        filename: 'placeholder-photo.png', content_type: 'image/png') %>
                      <% end %>
                  </div>
                </div>
                <div class="taste-name-text">

                  <div class="taste-date ml-4">
                    <%= time_ago_in_words(t.created_at) %> ago
                  </div>
                  <p><%= t.text %></p>
                </div>
              </li>
            <% end %>
          <% else%>
          <div class="no-content p-3 mt-2">
            <p> <%= current_user.fullname %> has not tastes yet</p>
          </div>
          <% end %>
        </ul>
      </div>

      <aside class="user-followings">
        <div class="profile-follow mr-4">
          <div class="follow-user mb-4">

            <% if current_user == @user %>
            <% elsif @current_user.current_followeds.include?(@user) %>
              <%= link_to unfollow_user_path, title: 'Unfollow this user', method: 'POST' do %>
                  <i class="fa fa-close"></i>
              <% end %>
            <% else %>
              <%= link_to follow_user_path, title: 'Follow this user', method: 'POST' do %>
                <i class="fa fa-plus"></i>
              <% end %>
            <% end %>

          </div>
          <div class="profile-group mx-1">
            <div class="profile-img-link mt-4">
              <div class="user-image">
                <% if @user.photo.attached? %>
                  <%= image_tag @user.photo%>
                <% else %> 
                  <%= @user.photo.attach(io: File.open('app/assets/images/placeholder-profile.png'),
                  filename: 'placeholder-profile.png', content_type: 'image/png') %>
                <% end %>

              </div>
            </div>
            <div class="user-fullname"><%= @user.fullname %></div>
            <div class="user-username">@<%= @user.username %></div>
          </div>
          
          <div class="follow-user mb-4 disable"> <a href="#"><i class="fa fa-bars"></i></a>  </div>
        </div>
        <div class="user-profile-stats">
          <div>
            <p class="stat-num"><%= @user.tastes.count %></p>
            <p class="stat-text"><%= 'Taste'.pluralize(@user.tastes.count) %></p>
          </div>
          <div class="stat-center">
            <p class="stat-num"><%= @user.followeds.count %></p>
            <p class="stat-text">Following</p>
          </div>
          <div>
            <p class="stat-num"><%= @user.followers.count %></p>
            <p class="stat-text"><%= 'Follower'.pluralize(@user.followers.count) %></p class="stat-text">
          </div>
        </div>
        <div class="followed-by mt-4">
          <h2>Followed by</h2>
          <% unless @who.empty?%>
            <%= @who.each do |user| %>
              <%= link_to user_path(user.id), class: 'user-follow-link' do %>
              <div class="user-follow">
                <div class="user-follow-image">
                  <% if user.photo.attached? %>
                    <%= image_tag user.photo %>
                  <% else %>
                      <%= user.photo.attach(io: File.open('app/assets/images/placeholder-photo.png'),
                      filename: 'placeholder-photo.png', content_type: 'image/png') %>
                  <% end %>
                </div>
                <div class="user-follow-text">
                  <div class="user-follow-fullname"><%= user.fullname %></div>
                  <div class="user-follow-username"><%= user.username %></div>
                </div>
              </div>
              <% end %>
            <% end %>
          <% else %>
          <div class="no-content py-2 mt-2">
          <p><%= @user.fullname %> has not follows yet.</p>
          </div>
          <% end %>
      </aside>
    </div>
 
  </div>

</div>