<aside class="left-bar">
  <div class="profile-header">
    <div class="user-photo float-left rounded-lg">
      <%= assign_images(current_user)%>
    </div>
    <div class="user-fullname"><br><%= current_user.fullname %>
      (<%= current_user.username %>)
    </div>
  </div><br><br>
  <div class="user-stats clearfix border border-dark pt-3 pl-4">
    <div>
      <p class="stat-num"><%= current_user.followeds.count %></p>
      <p>Following</p>
    </div>
    <div>
      <p class="stat-num"><%= current_user.followers.count %></p>
      <p><%= 'Follower'.pluralize(current_user.followers.count) %></p>
    </div>
  </div>
  <%= link_to tastes_path, class: yield(:home_button) do %>
    <i class="fa fa-home"></i>
    <div class="menu-item">Home</div>
  <% end %>

  <%= link_to user_path(current_user.id), class: yield(:profile_button) do %>
    <i class="fa fa-user"></i>
    <div class="menu-item">Profile</div>
  <% end %>

  <%= link_to edit_user_path(current_user.id), class: yield(:edit_button) do %>
    <i class="fa fa-pencil-square-o"></i>
    <div class="menu-item">Edit</div>
  <% end %>
</aside>