<aside class="left-bar">
  <div class="profile-header">
    <div class="user-photo float-left rounded-lg">
      <% if current_user.photo.attached? %>
        <image src=<%= (url_for(current_user.photo))%>>
      <% else %>
        <%= current_user.photo.attach(io: File.open('app/assets/images/placeholder-profile.png'),
        filename: 'placeholder-profile.png', content_type: 'image/png') %>
      <% end %>
    </div>
    <div class="user-fullname"><br><%= current_user.fullname %>
      (<%= current_user.username %>)
    </div>
  </div><br><br>
  <div class="user-stats ml-2  clearfix">
    <div>
      <p class="stat-num"><%= current_user.followeds.count %></p>
      <p>Following</p>
    </div>
    <div>
      <p class="stat-num"><%= current_user.followers.count %></p>
      <p><%= 'Follower'.pluralize(current_user.followers.count) %></p>
    </div>
  </div>
  <%= link_to tastes_path, class: yield(:home_button) do %>
    <i class="fa fa-home"></i>
    <div class="menu-item">Home</div>
  <% end %>
  <%= link_to discover_path, class: yield(:discover_button) do %>
    <i class="fa fa-hashtag"></i>
    <div class="menu-item">Discover</div>
  <% end %>
  <%= link_to user_path(current_user.id), class: yield(:profile_button) do %>
    <i class="fa fa-user"></i>
    <div class="menu-item">Profile</div>
  <% end %>


</aside>