<div class="main">
  <%= render 'left_bar' %>
  <div class="center-wrap">
    <%= render 'shared/header' %>
    <div class="tweet-center">
      <div class="title-section">
        <div class="tweets-text">Tastes</div>
      </div>
      <div class="tweet-form-wrap">
        <%= form_for @taste, url: tastes_path do |f| %>
        <%= f.text_field :text, class: 'form-input', placeholder: "What's it reading?" %>

        <%= f.submit 'Taste it', class: 'form-btn' %>
        <% end %>
      </div>

      <ul class="tweet-list">

        <%  @tastes.each do |t| %>
        <li>
          <div>
            <p></p>
            <%= t.user.fullname %>
          </div>
          <div>
            <%= t.text %>
          </div>
        </li>


        <% end %>
      </ul>
    </div>
    <aside class="profile">
      <p class="who-to-follow">Who to follow</p>
      <a class="user-follow-link" href="#">
        <div class="user-follow">
          <div class="user-follow-img" style="height: 40px; width: 40px, border: 1px solid blue, background-color: blue">
            <img alt="avatar image" class="avatar">
          </div>
          <div class="user-follow-text">
            <div class="user-follow-fullname">Full Name</div>
            <div class="user-follow-username">username</div>
          </div>
        </div>
      </a>
    </aside>
  </div>

</div>