<div class="main">
  <%= render 'left_bar' %>
  <div class="center-wrap">
    <%= render 'shared/header' %>
    <div class="taste-center">
      <div class="title-section">
        <div class="tastes-text">Tastes</div>
      </div>
      <div class="taste-form-wrap">
        <%= form_for @taste, url: tastes_path do |f| %>
        <%= f.text_field :text, class: 'form-input', placeholder: "What's it reading?" %>

        <%= f.submit 'Taste it', class: 'form-btn' %>
        <% end %>
      </div>

      <ul class="taste-list">

        <%  @tastes.each do |t| %>
        <li class="single-taste">


          <div class="taste-img-wrap">
            <div class="taste-img" style="border: 1px solid black; height: 50px; height: 70px">
              <%= p 'AVATAR ' %>
              
            </div>
          </div>


          <div class="taste-name-text">
            <div class="taste-fullname">
              <%= link_to t.user.fullname, user_path(t.user.id) %>
            </div>
            <div class="taste-username">
              <%= t.user.username %>
            </div>
            <div class="taste-created-at">
              | <%= time_ago_in_words(t.created_at) %> ago
            </div>
            <p><%= t.text %></p>
          </div>

        </li>
        <% end %>
      </ul>
    </div>
    <aside class="profile">
      <p class="who-to-follow">Who to follow</p>
      <a class="user-follow-link" href="#">
        <div class="user-follow">
          <div class="user-follow-img" style="height: 40px; width: 40px, border: 1px solid blue, background-color: blue">
            <img alt="avatar image" class="avatar">
          </div>
          <div class="user-follow-text">
            <div class="user-follow-fullname">Full Name</div>
            <div class="user-follow-username">username</div>
          </div>
        </div>
      </a>
    </aside>
  </div>

</div>